@media (min-width:700px){
  .signin_text{
    font-size: 50px;
    margin-top: 100px;
  }
  .loginForm{
    margin-top: 30px;
  }
  .loginsubmitbt{
    width: 100%;
    margin-top: 30px;
    height : 40px;
  }
  .forgot{
    margin-top : 20px;
  }
  .login_footer{
    margin-top: 200px;
  }
}
@media (max-width : 700px ){
  .main_login{
    margin: 10px;
  }
  .signin_text{
    font-size : 40px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .loginsubmitbt{
    margin-bottom: 20px;
    margin-top: 20px;
  }
}