@media (min-width:700px){
  /* .brandName{
    font-weight: bold;
  } */
  #brandName{
    color: black;
    font-weight: bold;
    letter-spacing: 6px;
    margin-left: 20px;
    width: 100%
  }
  .login-text{
    color: black;
  }
  .brandNam{
    color: black;
  }
  #navid{
    width: 100%;
  }
}
@media (max-width:700px){
  .login-text{
    color: black;
  }
  #navid{
    width: 100%;
  }
}